In [19]:
import pandas as pd
import numpy as np

from sklearn.manifold import TSNE

data = pd.read_csv(r'char_stats.csv')

In [13]:
data_numeric = data[["Intelligence","Strength","Speed","Durability","Power","Combat","Total"]]

In [21]:
tsne = TSNE(n_components=2)

In [22]:
tsne_results = tsne.fit_transform(data_numeric)
data['tsne1'] = tsne_results[:,0]
data['tsne2'] = tsne_results[:,1]
data_tsne = data[["tsne1","tsne2"]]
data_tsne

         tsne1      tsne2
0   -11.221083   7.393069
1    -5.482094  -7.636878
2    -4.531187   0.090193
3    -8.156029 -20.737757
4    -7.454725 -22.554131
..         ...        ...
606  -9.488484  15.449417
607  -8.822680  13.314138
608  -8.156837 -18.161762
609  -7.826468  -0.282215
610 -14.178681  -7.237796

[611 rows x 2 columns]

In [23]:
data_tsne.to_csv(r'tsne.csv')